1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [22]:
# a)
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print('HelloWorld')
    elif i % 3 == 0:
        print('Hello')
    elif i % 5 == 0:
        print('World')
    else:
        print(i)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World

In [23]:
# b)
# list:
listt = []
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        listt.append('PythonWorks')
    elif i % 3 == 0:
        listt.append('Python')
    elif i % 5 == 0:
        listt.append('Works')
    else:
        listt.append(i)

#This is the tuple of the list:
tup = tuple(listt)
print(tup)

(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [24]:
x = 18
y = 9

x = x + y   # now x=27
y = x - y   # y=(27-9)=18
x = x - y   # x=(27-18)=9

#After Swapping:
print('x=', x, 'y=', y)

x= 9 y= 18

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [25]:
import math

# u= (x1,x2) and v= (y1,y2)

def euclidean(x1,y1,x2,y2):
    euclidean_dist = math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)
    return euclidean_dist

euclidean(3,0,0,4)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [35]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

def chacter_number(string):
    #ignoring the differences in capitalization:
    string = string.lower()
    #open dictionary to write and add number of chracter
    dict = {}
    for n in string:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict

print(chacter_number(s))

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [38]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique_list= []
for number in l:
    if number in unique_list:
        continue
    else:
        unique_list.append(number)
        
print(unique_list)        #unique numbers in the list
print(len(unique_list))   #number of unique numbers

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
54

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [40]:
def unique_numbers(list_of_number):
    unique_list = []

    for number in list_of_number:
        if number in unique_list:
            continue
        else:
            unique_list.append(number)
    return unique_list

print(unique_numbers(l))
print(len(unique_numbers(l)))

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [44]:
# the square of a number

def square(number):
    return number*number

# the cube of the number

def cube(number):
    return number*number*number


# the 6th power

def sixth_power(number):
    return number*square(number)*cube(number)

print(sixth_power(3))

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [49]:
# a)

list_cube = []
for x in range(0,11):
    x = x*x*x
    list_cube.append(x)

print(list_cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [51]:
# b)

list_cubee = [x*x*x for x in range(0,11)]

print(list_cubee)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
#using Euclid's formula is a fundamental formula for 
#an arbitrary pair of integers m and n with m > n > 0 (from:https://en.wikipedia.org/wiki/Pythagorean_triple)
#(https://en.wikipedia.org/wiki/Tree_of_primitive_Pythagorean_triples)
# gcd=greatest common divisor / highest common factor is needed for unique Pythagorean Triples

In [34]:
from math import gcd

In [40]:
def pyt_triple(k):
    listp=[]
    for m in range(1,k):
        for n in range(m+1,k+1):
            a = n**2 - m**2
            b = 2*m*n
            c = n**2 + m**2
            if m**2 + n**2 > k:
                break
            if m%2==1 and n%2==1:
                continue
            if gcd(m,n)!=1:
                continue
            listp.append((a,b,c))
    return listp

print(pyt_triple(100))

[(3, 4, 5), (15, 8, 17), (35, 12, 37), (63, 16, 65), (5, 12, 13), (21, 20, 29), (45, 28, 53), (77, 36, 85), (7, 24, 25), (55, 48, 73), (9, 40, 41), (33, 56, 65), (65, 72, 97), (11, 60, 61), (39, 80, 89), (13, 84, 85)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [53]:
numbers = (1,2,3,4,6,7,8,10)
normed = [i/sum(numbers) for i in numbers]
print(normed)

[0.024390243902439025, 0.04878048780487805, 0.07317073170731707, 0.0975609756097561, 0.14634146341463414, 0.17073170731707318, 0.1951219512195122, 0.24390243902439024]