1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
lista=[]
for i in range (1,101):
    if i%3==0 and i%5==0:
        print("HelloWorld")
        lista.append("PythonWorks")
    elif i%3==0:
        print("Hello")
        lista.append("Python")
    elif i%5==0:
        print("Word")
        lista.append("Works")
    else:
        print(i)
        lista.append(i)
tupla=tuple(lista)
print(tupla)

1
2
Hello
4
Word
Hello
7
8
Hello
Word
11
Hello
13
14
HelloWorld
16
17
Hello
19
Word
Hello
22
23
Hello
Word
26
Hello
28
29
HelloWorld
31
32
Hello
34
Word
Hello
37
38
Hello
Word
41
Hello
43
44
HelloWorld
46
47
Hello
49
Word
Hello
52
53
Hello
Word
56
Hello
58
59
HelloWorld
61
62
Hello
64
Word
Hello
67
68
Hello
Word
71
Hello
73
74
HelloWorld
76
77
Hello
79
Word
Hello
82
83
Hello
Word
86
Hello
88
89
HelloWorld
91
92
Hello
94
Word
Hello
97
98
Hello
Word
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [2]:
def swap (a,b):
    x=a
    a=b
    b=x
    print(a,b)

swap(1,2)

2 1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [3]:
import math
def distance(x1,x2):
    somma=0
    for i in range(0,len(x1)):
        somma=somma+(x1[i]-x2[i])**2
    return math.sqrt(somma)

distance((3,0),(0,4))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [4]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

s = s.lower()
dictio={}
for i in s:
    if i in dictio:
        num=dictio[i]
        dictio[i]=num+1
    else:
        dictio[i]=1
    
print(dictio)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, ' ': 41, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [6]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def count(l):
    unique=[]
    for i in l:
        if i not in unique:
            unique.append(i)
    return len(unique)

print(count(l))

54

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [7]:
s=set(l)
print(len(s))

54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [8]:
def square(n):
    return n**2

def cube(n):
    return n**3

def sixPower(n):
    return n*square(n)*cube(n)

sixPower(3)

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [9]:
x=list(range(1,11))
y1=[]

for i in x:
    y1.append(i**3)

print(y1)

y2=[i**3 for i in x]
print(y2)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [10]:
triple=[(a,b,c) for a in range(1,101) for b in range(a+1,101) for c in range(b+1,101) if(a**2+b**2==c**2)]
print(triple)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [11]:
from __future__ import division
def normalization(t):
    min=t[0]
    max=t[0]
    for i in range(1,len(t)):
        if(t[i]>max):
            max=t[i]
        if(t[i]<min):
            min=t[i]
    l=[]
    for i in t:
        l.append((i-min)/(max-min))
    
    return tuple(l)

test=(1,2,3,4,5)
normalization(test)

(0.0, 0.25, 0.5, 0.75, 1.0)