In [100]:
x="Hello"
y="World"
z=[]
for i in range(0,101):
    if i % 15 ==0:
        z.append(x+y)
        
    elif i % 3 ==0:
        z.append(x)
        
    elif i % 5==0:
        z.append(y)
        
    else:
        z.append(i)
        
print(z,"\n")
for j in range(0,101):
    if z[j]=="Hello":
        z.remove(z[j])
        z.insert(j,"Python")
    elif z[j]=="World":
        z.remove(z[j])
        z.insert(j,"Works")
    elif z[j]=="HelloWorld":
        z.remove(z[j])
        z.insert(j,"PythonWorks")

z=tuple(z)        
print(z)

['HelloWorld', 1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'HelloWorld', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'HelloWorld', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'HelloWorld', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'HelloWorld', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'HelloWorld', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'HelloWorld', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']

('PythonWorks', 1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [25]:
def swap (x,y):
    x=x+y
    y=x-y
    x=x-y
    print("x=",x,"y=",y)
    
x=5
y=6
swap(x,y)

x= 6 y= 5

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [61]:
import math
def compute(u=[0,0],v=[0,0]):
    t=[0,0]
    for i in range(0,2):
        t[i]=u[i]-v[i]
    x=((t[0]**2)+(t[1]**2))**0.5
    print(x)
    


compute(u=[3,0],v=[0,4])

5.0

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [64]:
a="abcdefghijklmnoprstuvyz 10."
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
s.lower()
x=0
for i in range(0,len(a)):
    for j in range(0,len(s)):
        if a[i]==s[j]:
            x+=1
    print(a[i],x)
    x=0

a 7
b 4
c 1
d 5
e 20
f 9
g 1
h 9
i 12
j 0
k 0
l 12
m 8
n 10
o 15
p 8
r 19
s 7
t 19
u 7
v 2
y 0
z 0
  41
1 2
0 2
. 3

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [90]:
def uniquenumb(l):
    l.sort()
    w=l
    x=0
    y=0
    a=[]
    for i in range(0,len(l)):
        for j in range(0,len(w)):
            if l[i]==w[j]:x+=1
            if x==1:
                a.append(l[i])
                y+=1
        x=0
print("Unique numbers are ",a,"\n Total unique numbers: ",y)

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

Unique numbers are  [1, 5, 8, 9, 10, 16, 18, 19, 24, 30, 33, 37, 39, 41, 47, 53, 54, 55, 57, 58, 64, 72, 74, 75, 79, 81, 82, 86, 87, 88, 90, 92, 94, 95, 96, 98, 99]
 Total unique numbers:  37

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [91]:
from collections import Counter

def unique(l):
    print(*Counter(l))
    
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique(l)

36 45 58 3 74 96 64 31 10 24 19 33 86 99 18 63 70 85 47 56 42 84 88 55 20 54 8 51 79 81 57 37 91 1 66 9 89 50 95 90 98 39 16 82 92 41 30 34 94 5 72 87 75 53

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [94]:
import math
def square(a):
    a=a**2
    return a
def cube(b):
    b=b**3
    return b
def sixth(c):
    c=(math.sqrt(square(c))**3)*cube(c)
    print(c)
a=2
sixth(a)

64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [99]:
a=[]
for i in range(0,10):a.insert(i,i**3)
print("a=",a)

a= [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [101]:
q=[]
for a in range(1,100):
    for b in range(1,100):
        for c in range(1,100):
            if c**2==a**2+b**2:
                if a<b:
                    q.append([a,b,c])
            
print(q)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [104]:
a=[1,2,1]
norm=[float(i)/sum(a) for i in a]
print(norm)

[0.25, 0.5, 0.25]