1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [2]:

#for loop to print numbers from 1 to 100
for i in range(1,101,1):
    if i % 3 == 0  and i % 5 == 0 : 
            print("Hello World")     
    elif i % 3 == 0 :              
            print("Hello")           
    elif i % 5 == 0 :
            print("World")
            
    else:
            print(i)
            

#make a list to change words 
# (because tuple can not be modified, so first I make the list and than I convert it into a tuple)
lista = []
for i in range(1,101):
    if i % 3 == 0  and i % 5 == 0 :
            lista.append("Hello World")   
    elif i % 3 == 0 :                
            lista.append("Hello")         
    elif i % 5 == 0 :
            lista.append("World")
    else:
            lista.append(i)
print(lista)

#for loop to make the swap in the list
for j in range(1,len(lista)):
        if lista[j]=="Hello":
                lista[j]="Python"
        elif lista[j]=="World":
                lista[j]="Wroks"


print(lista)

#transform the list into a tuple
a = tuple(lista)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
Hello World
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
Hello World
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
Hello World
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
Hello World
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
Hello World
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
Hello World
91
92
Hello
94
World
Hello
97
98
Hello
World
[1, 2, 'Hello', 4, 'World', 'Hello', 7, 8, 'Hello', 'World', 11, 'Hello', 13, 14, 'Hello World', 16, 17, 'Hello', 19, 'World', 'Hello', 22, 23, 'Hello', 'World', 26, 'Hello', 28, 29, 'Hello World', 31, 32, 'Hello', 34, 'World', 'Hello', 37, 38, 'Hello', 'World', 41, 'Hello', 43, 44, 'Hello World', 46, 47, 'Hello', 49, 'World', 'Hello', 52, 53, 'Hello', 'World', 56, 'Hello', 58, 59, 'Hello World', 61, 62, 'Hello', 64, 'World', 'Hello', 67, 68, 'Hello', 'World', 71, 'Hello', 73, 74, 'Hello World', 76, 77, 'Hello', 79, 'World', 'Hello', 82, 83, 'Hello', 'World', 86, 'Hello', 88, 89, 'Hello World', 91, 92, 'Hello', 94, 'World', 'Hello', 97, 98, 'Hello', 'World']
[1, 2, 'Python', 4, 'Wroks', 'Python', 7, 8, 'Python', 'Wroks', 11, 'Python', 13, 14, 'Hello World', 16, 17, 'Python', 19, 'Wroks', 'Python', 22, 23, 'Python', 'Wroks', 26, 'Python', 28, 29, 'Hello World', 31, 32, 'Python', 34, 'Wroks', 'Python', 37, 38, 'Python', 'Wroks', 41, 'Python', 43, 44, 'Hello World', 46, 47, 'Python', 49, 'Wroks', 'Python', 52, 53, 'Python', 'Wroks', 56, 'Python', 58, 59, 'Hello World', 61, 62, 'Python', 64, 'Wroks', 'Python', 67, 68, 'Python', 'Wroks', 71, 'Python', 73, 74, 'Hello World', 76, 77, 'Python', 79, 'Wroks', 'Python', 82, 83, 'Python', 'Wroks', 86, 'Python', 88, 89, 'Hello World', 91, 92, 'Python', 94, 'Wroks', 'Python', 97, 98, 'Python', 'Wroks']
(1, 2, 'Python', 4, 'Wroks', 'Python', 7, 8, 'Python', 'Wroks', 11, 'Python', 13, 14, 'Hello World', 16, 17, 'Python', 19, 'Wroks', 'Python', 22, 23, 'Python', 'Wroks', 26, 'Python', 28, 29, 'Hello World', 31, 32, 'Python', 34, 'Wroks', 'Python', 37, 38, 'Python', 'Wroks', 41, 'Python', 43, 44, 'Hello World', 46, 47, 'Python', 49, 'Wroks', 'Python', 52, 53, 'Python', 'Wroks', 56, 'Python', 58, 59, 'Hello World', 61, 62, 'Python', 64, 'Wroks', 'Python', 67, 68, 'Python', 'Wroks', 71, 'Python', 73, 74, 'Hello World', 76, 77, 'Python', 79, 'Wroks', 'Python', 82, 83, 'Python', 'Wroks', 86, 'Python', 88, 89, 'Hello World', 91, 92, 'Python', 94, 'Wroks', 'Python', 97, 98, 'Python', 'Wroks')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [1]:
#function without temporary variables

#variables in input
x = (input ("set value of x"))
y = (input ("set value of y"))

#definition of the swap function
def swap(a,b):
    a,b = b,a      
    print("The values swapped are: {0}, {1}".format(a,b)) 
    return(a,b)  

swap(x,y)


#function with temporary variables

def switch(c,d):
    f = c
    c = d
    d = f 
    print("The values swapped are: {0}, {1}".format(c,d)) 
    return(c,d) 

swap(x,y)

The values swapped are: amigos, ola
The values swapped are: amigos, ola

('amigos', 'ola')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [2]:
import math 

#coordinates of points
x1 = float(input ("value of x coordinate of first vector"))
y1 = float(input ("value of y coordinate of first vector"))
x2 = float(input ("value of x coordinate of second vector"))
y2 = float(input ("value of y coordinate of second vector"))

#tuples of the points 
u = (x1,y1) 
v = (x2,y2)

#definition of the function which calculates the euclidean distance
def distance(u,v): 
    dx = u[0]-v[0]
    dy = u[1]-v[1]
    d = math.sqrt(dx*dx + dy*dy)
    print("the distance between two points is: " , d)
    return d 
    
distance(u,v)

the distance between two points is:  2.8284271247461903

2.8284271247461903

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [11]:
s = "I'm trying to learn Python, wish me luck!"

#all characters in lower case to ignore difference in capitalization
s = s.lower()
count = 0  #variable for the counting

#first for loop to read the string
for i  in range(0,len(s)):  
    #second for loop to make comparison between characters 
    for j in range(0,len(s)):
        if s[0] == s[j]:  
            count = count + 1 
    print("the character", s[0], "appears", count, "times")  
    #my counting variable has to be resetted after each character
    count = 0 
    s = s.replace(s[0], "") # I must replace every character read with a white space in order to not make double counting
#to avoid problems if the string is empty after replacing all its characters
    if len(s) == 0:     
        break

the character i appeares 3 times
the character ' appeares 1 times
the character m appeares 2 times
the character   appeares 7 times
the character t appeares 3 times
the character r appeares 2 times
the character y appeares 2 times
the character n appeares 3 times
the character g appeares 1 times
the character o appeares 2 times
the character l appeares 2 times
the character e appeares 2 times
the character a appeares 1 times
the character p appeares 1 times
the character h appeares 2 times
the character , appeares 1 times
the character w appeares 1 times
the character s appeares 1 times
the character u appeares 1 times
the character c appeares 1 times
the character k appeares 1 times
the character ! appeares 1 times

In [2]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [43]:
l = [3, 4, 3, 5, 15, 15]
unique = [] #list of unique numbers in the principal list l

#definition of my function
def number(l):
    for i in range(0, len(l)):  
        if l.count(i) == 1:  
            unique.append(i)    
    return(unique)

number(l)
print ("There are:", len(unique), "unique numbers and they are \n", unique)

There are: 2 unique numbers and they are
 [4, 5]

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [40]:
n = float(input("Choose a number"))

def square(n):
    return n**2

def cube(n):
    return n**3

def sixth(n):
    return cube(square(n))

sixth(n)

1000000.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [28]:
#list made with a for loop 
a = []
for x in range (0,11):
       a.append(x**3)
print("The list of the cubes from 0 to 10 is:" , a) 

#list made with list comprehension
b = [x**3 for x in range(0,11)]
print("The list of the cubes from 0 to 10 is:" , b)

The list of the cubes from 0 to 10 is: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
The list of the cubes from 0 to 10 is: [0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [29]:
triple1 = [] #make a list of my triple in which I append my sublist
sub = []   #make a sublist to append each number found

#for loop to search my numbers 
for i in range(0,100):  
    for j in range(i+1,100):  
        for z in range(j+1,100): 
            if i**2+j**2 == z**2:
                sub.append(i) 
                sub.append(j)
                sub.append(z)
                triple1.append(sub) 
                sub = [] 

#transform my list in a tuple
triple = tuple(triple1)
#print my tuple
print("All Pythagorean triples are", triple)

All PYthagorean triples are ([3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97])

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [37]:
#my list is
t = (1,2,3,4,5)
lista = [] 

#I define my function
def normalization(t):
    norm = 0
    for i in range (0,len(t)):
        norm = norm + t[i]**2 
    norm = norm**0.5 

    for j in range (0, len(t)):
        lista.append(t[j]/norm) 

    t = tuple(lista)
    return(t)


print("My normalized tuple is:" ,normalization(t))

My normalized tuple is: (0.13483997249264842, 0.26967994498529685, 0.40451991747794525, 0.5393598899705937, 0.674199862463242)