1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [31]:
mylist=[]

for i in range(1,101, 1):
    if i % 3 == 0 and i % 5 != 0:
        print ("Hello")
        mylist.append("Python")
    elif i % 5 == 0 and i % 3 != 0:
        print ("World")
        mylist.append("Works")
    elif i % 5 == 0 and i % 3 == 0:
        print ("Hello world")
        mylist.append("Python Works")
    else:
        print (i)
        mylist.append(i)

        
    

print(mylist)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
Hello world
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
Hello world
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
Hello world
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
Hello world
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
Hello world
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
Hello world
91
92
Hello
94
World
Hello
97
98
Hello
World
[1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'Python Works', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'Python Works', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'Python Works', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'Python Works', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'Python Works', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'Python Works', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [36]:
def swap(x, y):
    return y,x
x,y = 2,3
print(swap(x,y))

(3, 2)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [42]:
import math

def calc(x, y):
    return (math.sqrt((x[0]-y[0])**2+(x[1]-y[1])**2))
                      
u = (3,0)
v = (0,4)
print (calc(u,v))

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [11]:
a = ["Hello", "world", "Hello world", "Hello world", "Hello", "world"]
print(a.count("Hello"))

s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
print(s.count("i"))

b = "Write a program thw Wow"
c = b.lower()
print (c)
print(c.count("w"))

2
12
write a program thw wow
4

In [28]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

s = s.lower().replace(" ","")

mydict ={}
for i in range(0, len(s)):
    char = s[i]
    if char in mydict.keys():
        mydict[char]+=1
    else:
        mydict[char]=1
print(mydict)

{'w': 4, 'r': 19, 'i': 12, 't': 19, 'e': 20, 'a': 7, 'p': 8, 'o': 15, 'g': 1, 'm': 8, 'h': 11, 'n': 10, 's': 7, 'u': 7, 'b': 5, 'f': 10, '1': 2, '0': 2, '.': 3, 'l': 12, 'd': 5, 'v': 2, 'c': 1}

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [37]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

my_dict ={}
for i in range(0, len(l)):
    char = l[i]
    if char in my_dict.keys():
        my_dict[char]+=1
    else:
        my_dict[char]=1
print(my_dict)

uni=[x for x,y in mydict.items() if y==1]

print("The number is", len(uni))
print("The unique numbers are", uni)

{36: 3, 45: 3, 58: 1, 3: 2, 74: 1, 96: 1, 64: 1, 31: 2, 10: 1, 24: 1, 19: 1, 33: 1, 86: 1, 99: 1, 18: 1, 63: 2, 70: 3, 85: 3, 47: 1, 56: 2, 42: 2, 84: 4, 88: 1, 55: 1, 20: 3, 54: 1, 8: 1, 51: 3, 79: 1, 81: 1, 57: 1, 37: 1, 91: 3, 1: 1, 66: 2, 9: 1, 89: 2, 50: 2, 95: 1, 90: 1, 98: 1, 39: 1, 16: 1, 82: 1, 92: 1, 41: 1, 30: 1, 34: 2, 94: 1, 5: 1, 72: 1, 87: 1, 75: 1, 53: 1}
The number is 37
The unique numbers are [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [2]:
def square(x):
    return x * x

number1 = float(input("Enter number: "))

sqre = square(number1)

print("The Square of a given number {0}  = {1}".format(number1, sqre))

def cube(x):
    return x * x * x

number2 = float(input("Enter number: "))

cub = cube(number2)

print("The Cube of a given number {0}  = {1}".format(number2, cub))

def power6(x):
    return cube(square(x))

number3 = float(input("Enter number: "))

pow = power6(number3)

print("The Cube of a given number {0}  = {1}".format(number3, pow))

Enter number: 2
The Square of a given number 2.0  = 4.0
Enter number: 3
The Cube of a given number 3.0  = 27.0
Enter number: 2
The Cube of a given number 2.0  = 64.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [12]:
#numbers_to_cube = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#for number in numbers_to_cube:

  #print(number**3)

list = []    
for i in range(0,10):
    list.append(cube(i))
print ("loop ", list)



cubes = [i**3 for i in range(0, 10)]
print("list comprehension ",cubes)

loop  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
list comprehension  [0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [37]:
list = [[a, b, c] for a in range (0,100) for b in range (0,100) for c in range (0,100) if (a * a + b * b == c * c) and a!=b and b!=c and a!=c and b>a]
print(list)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [9, 40, 41], [10, 24, 26], [11, 60, 61], [12, 16, 20], [12, 35, 37], [13, 84, 85], [14, 48, 50], [15, 20, 25], [15, 36, 39], [16, 30, 34], [16, 63, 65], [18, 24, 30], [18, 80, 82], [20, 21, 29], [20, 48, 52], [21, 28, 35], [21, 72, 75], [24, 32, 40], [24, 45, 51], [24, 70, 74], [25, 60, 65], [27, 36, 45], [28, 45, 53], [30, 40, 50], [30, 72, 78], [32, 60, 68], [33, 44, 55], [33, 56, 65], [35, 84, 91], [36, 48, 60], [36, 77, 85], [39, 52, 65], [39, 80, 89], [40, 42, 58], [40, 75, 85], [42, 56, 70], [45, 60, 75], [48, 55, 73], [48, 64, 80], [51, 68, 85], [54, 72, 90], [57, 76, 95], [60, 63, 87], [65, 72, 97]]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [34]:
def norm(x):
    y = list(x)
    return tuple(i/sum(y) for i in y)
x = (1, 3, 4)
print(x)
print(norm(x))

(1, 3, 4)
(0.125, 0.375, 0.5)