Bedriye GÃ¼lce Kaya

1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [22]:
#1a

lim = 100
out_str = ''

for i in range (1, lim + 1):
    if not (i % 3 == 0) and not (i % 5 ==0):
        out_str += str(i)
    if i % 3 == 0: out_str += 'Hello'
    if i % 5 == 0: out_str += 'World'
    out_str += ','
    
print(out_str)
print()

#1b

out_tuple = tuple(out_str.split(','))
print(out_tuple)

out = []
for s in out_tuple:
    s = s.replace ('Hello', 'Python')
    s = s.replace ('World', 'Works')
    out.append(s)
    
print (','.join(out))

1,2,Hello,4,World,Hello,7,8,Hello,World,11,Hello,13,14,HelloWorld,16,17,Hello,19,World,Hello,22,23,Hello,World,26,Hello,28,29,HelloWorld,31,32,Hello,34,World,Hello,37,38,Hello,World,41,Hello,43,44,HelloWorld,46,47,Hello,49,World,Hello,52,53,Hello,World,56,Hello,58,59,HelloWorld,61,62,Hello,64,World,Hello,67,68,Hello,World,71,Hello,73,74,HelloWorld,76,77,Hello,79,World,Hello,82,83,Hello,World,86,Hello,88,89,HelloWorld,91,92,Hello,94,World,Hello,97,98,Hello,World,

('1', '2', 'Hello', '4', 'World', 'Hello', '7', '8', 'Hello', 'World', '11', 'Hello', '13', '14', 'HelloWorld', '16', '17', 'Hello', '19', 'World', 'Hello', '22', '23', 'Hello', 'World', '26', 'Hello', '28', '29', 'HelloWorld', '31', '32', 'Hello', '34', 'World', 'Hello', '37', '38', 'Hello', 'World', '41', 'Hello', '43', '44', 'HelloWorld', '46', '47', 'Hello', '49', 'World', 'Hello', '52', '53', 'Hello', 'World', '56', 'Hello', '58', '59', 'HelloWorld', '61', '62', 'Hello', '64', 'World', 'Hello', '67', '68', 'Hello', 'World', '71', 'Hello', '73', '74', 'HelloWorld', '76', '77', 'Hello', '79', 'World', 'Hello', '82', '83', 'Hello', 'World', '86', 'Hello', '88', '89', 'HelloWorld', '91', '92', 'Hello', '94', 'World', 'Hello', '97', '98', 'Hello', 'World', '')
1,2,Python,4,Works,Python,7,8,Python,Works,11,Python,13,14,PythonWorks,16,17,Python,19,Works,Python,22,23,Python,Works,26,Python,28,29,PythonWorks,31,32,Python,34,Works,Python,37,38,Python,Works,41,Python,43,44,PythonWorks,46,47,Python,49,Works,Python,52,53,Python,Works,56,Python,58,59,PythonWorks,61,62,Python,64,Works,Python,67,68,Python,Works,71,Python,73,74,PythonWorks,76,77,Python,79,Works,Python,82,83,Python,Works,86,Python,88,89,PythonWorks,91,92,Python,94,Works,Python,97,98,Python,Works,

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [20]:
x = 3
y = 1
def swap(x, y):   
    temp = x
    x = y
    y = temp
    return x, y
#without using temporary variable
def swap_1(x, y):
    return y, x
print (swap(x, y))
print (swap_1(x, y))

(1, 3)
(1, 3)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [24]:
import math 
u = [3,0]
v = [0,4]
distance = math.sqrt( ((u[0]-v[0])**2) + ((u[1]-v[1])**2))
print(distance)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [40]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."
import pandas as pd
pd.Series(list(s)).value_counts()

     41
e    20
r    19
t    19
o    15
l    12
i    12
n    10
h     9
f     9
p     8
m     8
u     7
s     7
a     7
d     5
b     4
.     3
W     3
H     2
0     2
1     2
v     2
F     1
c     1
B     1
g     1
w     1
dtype: int64

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [78]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def get_unique_numbers(l):
    unique = []

    for number in l:
        if number in unique:
            continue
        else:
            unique.append(number)
    return unique

print("Unique numbers in the list:")
print(get_unique_numbers(l))
print("The count of the unique numbers is:")
number_of_unique_values = len(get_unique_numbers(l))
print(number_of_unique_values)

Unique numbers in the list:
[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
The count of the unique numbers is:
54

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [77]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

set_res = set(l) 
number_of_unique_values = len(set_res)
list_res = (list(set_res))
print("The count of the unique numbers is:") 
print(number_of_unique_values)
print("Unique numbers in the list:")
  
for item in list_res: 
    print(item)

The count of the unique numbers is:
54
Unique numbers in the list:
1
3
5
8
9
10
16
18
19
20
24
30
31
33
34
36
37
39
41
42
45
47
50
51
53
54
55
56
57
58
63
64
66
70
72
74
75
79
81
82
84
85
86
87
88
89
90
91
92
94
95
96
98
99

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [81]:
a = 3

def square (a):
    return a**2

def cube (a):
    return a**3

def sixth_power (a):
    return square (cube(a))

print (sixth_power (a))

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [88]:
#7a 
#Without list comprehension you will have to write a for statement with a conditional test inside:
out = []
for i in range(1,11):
    out.append(cube(i))
print (out)

#7b
#With list comprehension you can do all that with only one line of code:

out = [cube(i) for i in range (1,11)]
print (out)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [98]:
out = [(a,b,c) for a in range(1,101) for b in range (1,101) for c in range (1,101) if a**2 + b**2 == c**2]
print (out)

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (28, 96, 100), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (60, 80, 100), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (80, 60, 100), (84, 13, 85), (84, 35, 91), (96, 28, 100)]

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [99]:
a = [2,4,10,6,8,4]
amin, amax = min(a), max(a)
for i, val in enumerate(a):
    a[i] = (val-amin) / (amax-amin)

a

[0.0, 0.25, 1.0, 0.5, 0.75, 0.25]