1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [148]:
# Answer to Q1

myList = [];

for i in range(1,101):
    
    if i%15==0: # First, it should be checked both division by 3 and 5 to satisfy the criteria given.
        print("HelloWorld.")
        myList.append("HelloWorld.") # Adds a string element named as "HelloWorld." to the end of the list
    elif i%3 == 0: 
        myList.append("Python")
        print("Hello")
    elif i%5==0:
        print("World")
        myList.append("Works")
    else: 
        print(i) # No specific condition, just prints the number
        myList.append(i)
        
a = tuple(myList) # defined a tuple "a" and add my list inside. First, a list is manipulated and tuple defined because tuple elements can not be changed.
#print(myList)
print(a) 


# "Write a program that prints the numbers from 1 to 100. \
#But for multiples of three print Hello instead of the number and for the multiples of five print World. \
#For numbers which are multiples of both three and five print HelloWorld."

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld.
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld.
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld.
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld.
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld.
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld.
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld.', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld.', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld.', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld.', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld.', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld.', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2 The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [149]:
def mySwap(s1, s2): # definition of a function with two variables.
    
    return s2, s1 # function changes the order of the variables.

s1 = 3
s2 = 5
print(mySwap(s1,s2)) # As anticipated, (5,3) prints.

(5, 3)

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [150]:
u=(3,0)
v=(0,4)
def myEuclidean(u,v):
    return ((v[1]-v[0])**2 + (u[1]-u[0])**2)**0.5 # distance between the two points on the same coordinate axis defines a perpendicular line.

myEuclidean(u,v)

5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [151]:
S = "It was a dark and stormy night."
s = S.lower() # In order to ignore capitalization, characters turn to be lowercase by lower function.
print(s)
characters = [x for x in s]
print(characters)
count=0

for i in characters: # loops inside all elements of the characters
    for j in characters: # Also, loops inside all the elements of the characters
        if i==j: # Here is the comparison of the elements and if they are equal, it means that corresponding element occurs more than one.
            count+=1 # If the above condition satisfies, count it by adding one
            #print(count)
            
    print("the character %c occurs %d times" % (i,count)) # Also, I could add the results to a list for better        
    count = 0

it was a dark and stormy night.
['i', 't', ' ', 'w', 'a', 's', ' ', 'a', ' ', 'd', 'a', 'r', 'k', ' ', 'a', 'n', 'd', ' ', 's', 't', 'o', 'r', 'm', 'y', ' ', 'n', 'i', 'g', 'h', 't', '.']
the character i occurs 2 times
the character t occurs 3 times
the character   occurs 6 times
the character w occurs 1 times
the character a occurs 4 times
the character s occurs 2 times
the character   occurs 6 times
the character a occurs 4 times
the character   occurs 6 times
the character d occurs 2 times
the character a occurs 4 times
the character r occurs 2 times
the character k occurs 1 times
the character   occurs 6 times
the character a occurs 4 times
the character n occurs 2 times
the character d occurs 2 times
the character   occurs 6 times
the character s occurs 2 times
the character t occurs 3 times
the character o occurs 1 times
the character r occurs 2 times
the character m occurs 1 times
the character y occurs 1 times
the character   occurs 6 times
the character n occurs 2 times
the character i occurs 2 times
the character g occurs 1 times
the character h occurs 1 times
the character t occurs 3 times
the character . occurs 1 times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [152]:
from collections import Counter # To use functions that are already defined, from collections Counter is imported.

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def myCounter(L):
    C = Counter(L) # defines a list including the number of occurrence of each element

    for i in L:
        if C[i]==1: # in the list, only one element of i is included.    
            print("the character %d is unique" % i)  

myCounter(l)

the character 58 is unique
the character 74 is unique
the character 96 is unique
the character 64 is unique
the character 10 is unique
the character 24 is unique
the character 19 is unique
the character 33 is unique
the character 86 is unique
the character 99 is unique
the character 18 is unique
the character 47 is unique
the character 88 is unique
the character 55 is unique
the character 54 is unique
the character 8 is unique
the character 79 is unique
the character 81 is unique
the character 57 is unique
the character 37 is unique
the character 1 is unique
the character 9 is unique
the character 95 is unique
the character 90 is unique
the character 98 is unique
the character 39 is unique
the character 16 is unique
the character 82 is unique
the character 92 is unique
the character 41 is unique
the character 30 is unique
the character 94 is unique
the character 5 is unique
the character 72 is unique
the character 87 is unique
the character 75 is unique
the character 53 is unique

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [153]:
# Without using pre-defind functions..

L = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def DefUnique(l): # Created my own function that counts the number of elements.
    count=0
    for i in l: #loops for each element in the list
        for j in l: # Also, loops for each element in the list
            if i==j: # if they are the same element
                count+=1 # count is increased by 1
                #print(count)

        if count==1: # to print the elements which exist only once.
            print("the character %d is unique" % i)              
        count=0 # for each element It should be started from zero to find correct number of existence.       

DefUnique(L)

the character 58 is unique
the character 74 is unique
the character 96 is unique
the character 64 is unique
the character 10 is unique
the character 24 is unique
the character 19 is unique
the character 33 is unique
the character 86 is unique
the character 99 is unique
the character 18 is unique
the character 47 is unique
the character 88 is unique
the character 55 is unique
the character 54 is unique
the character 8 is unique
the character 79 is unique
the character 81 is unique
the character 57 is unique
the character 37 is unique
the character 1 is unique
the character 9 is unique
the character 95 is unique
the character 90 is unique
the character 98 is unique
the character 39 is unique
the character 16 is unique
the character 82 is unique
the character 92 is unique
the character 41 is unique
the character 30 is unique
the character 94 is unique
the character 5 is unique
the character 72 is unique
the character 87 is unique
the character 75 is unique
the character 53 is unique

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [154]:
def mySquare(a): 
    return a**2

def myCube(b):
    return b**3

def mySixth(c):
    mySixth = myCube(mySquare(c)) #function gets the result of another function as an argument, and the result is defined
    return mySixth 

mySixth(2)

64

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [155]:
# part a) Create an empty list and add new elements at the end of it.
myCubes = []
for x in range(0,11): # in range the last element(11) is not included.
    myCubes.append(x**3)
print(myCubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [156]:
# part b) List is defined by the help of for loop inside, efficient definition with an only line. 
myCubesList = [x**3 for x in range(11)]
print(myCubesList)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [157]:
myList = []

count = 1

for i in range (0,100):
    for j in range(0,100):
        k = (i**2 + j**2)*0.5     # k = sqrt(i2 + j2)
        if k==int(k) and k<100:   # i.e k=65.76504 but int(k)=65, so they are not equal.
            
            myTuple = (i,j,int(k)) # Everytime a new tuple is defined and added to the list
            myList.append(myTuple)
            
    count+=1        
a = tuple(myList) # To put the resulting list in a tuple
print(a)

((0, 0, 0), (0, 2, 2), (0, 4, 8), (0, 6, 18), (0, 8, 32), (0, 10, 50), (0, 12, 72), (0, 14, 98), (1, 1, 1), (1, 3, 5), (1, 5, 13), (1, 7, 25), (1, 9, 41), (1, 11, 61), (1, 13, 85), (2, 0, 2), (2, 2, 4), (2, 4, 10), (2, 6, 20), (2, 8, 34), (2, 10, 52), (2, 12, 74), (3, 1, 5), (3, 3, 9), (3, 5, 17), (3, 7, 29), (3, 9, 45), (3, 11, 65), (3, 13, 89), (4, 0, 8), (4, 2, 10), (4, 4, 16), (4, 6, 26), (4, 8, 40), (4, 10, 58), (4, 12, 80), (5, 1, 13), (5, 3, 17), (5, 5, 25), (5, 7, 37), (5, 9, 53), (5, 11, 73), (5, 13, 97), (6, 0, 18), (6, 2, 20), (6, 4, 26), (6, 6, 36), (6, 8, 50), (6, 10, 68), (6, 12, 90), (7, 1, 25), (7, 3, 29), (7, 5, 37), (7, 7, 49), (7, 9, 65), (7, 11, 85), (8, 0, 32), (8, 2, 34), (8, 4, 40), (8, 6, 50), (8, 8, 64), (8, 10, 82), (9, 1, 41), (9, 3, 45), (9, 5, 53), (9, 7, 65), (9, 9, 81), (10, 0, 50), (10, 2, 52), (10, 4, 58), (10, 6, 68), (10, 8, 82), (11, 1, 61), (11, 3, 65), (11, 5, 73), (11, 7, 85), (12, 0, 72), (12, 2, 74), (12, 4, 80), (12, 6, 90), (13, 1, 85), (13, 3, 89), (13, 5, 97), (14, 0, 98))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [158]:
# Normalization to one is: Dividing all the numbers to biggest number. By doing this, the biggest number will be 1 
# and the other numbers will get a value between 0 and 1.  
a = (0.897, 7.956, 0.000074, 254.9754)

def myNormFunc(b):
    myList = list(b) #define a list including argument tuple
    #print(max(myList))
    myList = [i/max(myList) for i in myList] # change the list characters by dividing all of them to the max value.
    
    return tuple(myList) # return again a tuple getting list argument because tuple elements can not be changed.
        
        
myNormFunc(a)

(0.003517986441044901, 0.031203010172746078, 2.9022407651875435e-07, 1.0)