# Pandas

The `numpy` library is excellent for numerical computations, but it lacks support to handle missing data or non-omogeneous arrays. The `pandas` library is based on numpy and extends the numpy functionality, and is currently one of the most widely used tools for data manipulation, providing high-performance, easy-to-use data structures and advanced data analysis tools.

In particular `pandas` features:

* A fast and efficient `DataFrame` object for data manipulation with integrated indexing; While in np i have only integer index, panda extends to all type of index.
* Tools for reading and writing data between in-memory data structures and different formats (CSV, Excel, SQL, HDF5);
Eredita from np all clever way to read data. Data frame supports also multi dimensional indecis, I'm not constrained to use 2-dim indecis.
* Convenient label-based slicing, fancy indexing, and subsetting of large data sets;
* Hierarchical axis indexing provides an intuitive way of working with high-dimensional data in a lower-dimensional data structure;
* Smart data alignment and integrated handling of missing data;
* Aggregating and transforming data with a powerful "group-by" engine; 
I can do database like operations for example aggregating subsets of database. 
* High performance merging and joining of data sets;
* Time series-functionalities;
* Highly optimized for performance, with critical code paths written in Cython or C.
If I perform operation following the logic of the data frame they will be performed very fast

In [1]:
import pandas as pd # standard naming convention
import numpy as np

## Series

Pandas Series represent an extension of the numpy 1D arrays. A Series is equivalent to a numpy array, but the axis  is labeled, and there is the possibility to store heterogeneous data. Labels doesn't need to be unique but must be a hashable type.

One of the most important examples are the time-series, which are used to keep track of the time evolution of a certain quantity.

Link to the official Pandas Series [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html).

Extension of 1-dim np arrays -> slice of database in terms of coloumns. Similar to np but extends it.

Extension of np array is comprensive of the label of axis and the possibility to have eterogeneal data. (Drowback because if I'm using not omogeneus data the program'll use more memory.)

In [3]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Calling the Series constructor
# Constructor requires the data, and optionally the indices and data type

#passign a np array and a tulpe as index (because I has to be a immutable obj so in case I have to convert into tuple)
#If i not specify the type is not a problem, panda should be able to put it by itself.
sr = pd.Series(np.arange(10)*0.5, index=tuple(letters[:10]), dtype=float)
#print series returns the value I add to it
print("series:\n", sr, '\n')
#index method to access single indecis
print("indices:\n", sr.index, '\n')
print("values:", sr.values, type(sr.values), '\n') # values of the Series are actually a numpy array
#dtype returns me what is the type of the data
print("type:\n", sr.dtype, '\n')

print("element by index     :", sr['f'], '\n') # Accessing elements like arrays by label
#SENTIRE
#another way to access the content -> by attributes 
print("element by attribute :", sr.f, '\n') # Accessing elements like attributes - 
#not recommended  because for example the space between letters/words it is no taken into account

#selecting a subset of series
subsr = sr[['d', 'f', 'h']] # note the double square brackets!! 
#one is to acess the element and in this case instead of passing an element I'm passing a list of the subset I want extract
print("series subset:\n", subsr, type(subsr), '\n') # Multiple indexing returns another series

series:
 a    0.0
b    0.5
c    1.0
d    1.5
e    2.0
f    2.5
g    3.0
h    3.5
i    4.0
j    4.5
dtype: float64

indices:
 Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

values: [0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5] <class 'numpy.ndarray'>

type:
 float64

element by index     : 2.5

element by attribute : 2.5

series subset:
 d    1.5
f    2.5
h    3.5
dtype: float64 <class 'pandas.core.series.Series'>

In [5]:
# Extracting elements and operations are the same as numpy array
print(sr[:3], '\n')
print(sr[7:], '\n')
print(sr[::3], '\n')
print(sr[sr > 3], '\n') 
#creating a mask for elements>3 and applying it to series -> I've created a subset of the original series with elemens all >3
print(np.exp(sr), '\n')
print(np.mean(sr), np.std(sr), '\n')

a    0.0
b    0.5
c    1.0
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a    0.0
d    1.5
g    3.0
j    4.5
dtype: float64

h    3.5
i    4.0
j    4.5
dtype: float64

a     1.000000
b     1.648721
c     2.718282
d     4.481689
e     7.389056
f    12.182494
g    20.085537
h    33.115452
i    54.598150
j    90.017131
dtype: float64

2.25 1.4361406616345072

Series may contain non-omogeneous data; in this case, the data type is referred to as `object`. Non-homogeneous data is normally handeled also by pandas and does not represent a problem, however this pays the price of less time-efficient operations.

In [6]:
# Series can be created from a python dictionary, too
# Note that the elements can be of different types
#not omogeneus data
d = {'b' : 1, 'a' : 'cat', 'c' : [2, 3]}
so = pd.Series(d)
print(so, '\n')

b         1
a       cat
c    [2, 3]
dtype: object

A key difference between pandas Series and numpy arrays is that operations between Series **automatically align the data based on the label**.

Thus, you can write operations without considering whether the Series involved have the same labels, or even the same size.

Operation performed instead of checking that range/shape are the same, they are performed according to the label. I can do operation between series with different lenghts or shapes.

In [8]:
s = pd.Series(np.arange(5), index=tuple(letters[:5]))
print("series:\n", s, '\n')
s1 = s[1:] + s #shorten the original series starting from the first element
print("shifted sum:\n", s1, '\n')
#I get a NaN as first entry because I have not corrispondance between the first element of each series.
#The others elements are summed right.

#  SENTIRE  
s2 = s[1:] + s[:-1]
print("double shifted sum:\n", s2, '\n')


#As soon as I have a NaN inside the resulting serie, the type is automatically float

series:
 a    0
b    1
c    2
d    3
e    4
dtype: int64

shifted sum:
 a    NaN
b    2.0
c    4.0
d    6.0
e    8.0
dtype: float64

double shifted sum:
 a    NaN
b    2.0
c    4.0
d    6.0
e    NaN
dtype: float64

### Time series

Time series are very often used to describe the behaviour of a quantity as a function of time. Pandas has a special type of index for that, `DatetimeIndex`, that can be created e.g. with the function `pd.data_range()`.

In [10]:
# to define a date, the datetime module is very useful
import datetime as dt

#to get today's date
date = dt.date.today()
print("Today's date:", date)

# specify year, month, day, hour, minutes, seconds, and us
date = dt.datetime(2020, 11, 12, 10, 45, 10, 15)
print("Date and time:", date)

# otherwise, several notations can also be used
date = 'Nov 9 2020'
# or alternatively
date = '9/11/2020 14:45:00' #starting date
print("Date format:", date)

# create DatetimeIndex using ranges -> data_range() method
days = pd.date_range(date, periods=7, freq='D') #specify periods -> returns 7 entries each separated by 1 day
print("7 days range:", days)

seconds = pd.date_range(date, periods=3600, freq='s')
print("1 hour in seconds:", seconds)

Today's date: 2021-11-12
Date and time: 2020-11-12 10:45:10.000015
Date format: 9/11/2020 14:45:00
7 days range: DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')
1 hour in seconds: DatetimeIndex(['2020-09-11 14:45:00', '2020-09-11 14:45:01',
               '2020-09-11 14:45:02', '2020-09-11 14:45:03',
               '2020-09-11 14:45:04', '2020-09-11 14:45:05',
               '2020-09-11 14:45:06', '2020-09-11 14:45:07',
               '2020-09-11 14:45:08', '2020-09-11 14:45:09',
               ...
               '2020-09-11 15:44:50', '2020-09-11 15:44:51',
               '2020-09-11 15:44:52', '2020-09-11 15:44:53',
               '2020-09-11 15:44:54', '2020-09-11 15:44:55',
               '2020-09-11 15:44:56', '2020-09-11 15:44:57',
               '2020-09-11 15:44:58', '2020-09-11 15:44:59'],
              dtype='datetime64[ns]', length=3600, freq='S')

To learn more about the frequency strings, please check the [documentation](http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases).

Timestamped data is the most basic type of time series data that associates values with points in time.

Functions like `pd.to_datetime` can be used to convert between different formats and, for instance, when reading the time stored as a string from a dataset:

In [12]:
# Get the timestamp = counts number of ns from the start of today day
tstamp = pd.Timestamp(date)
# Get the timestamp = counts number of ns from January 1st 1970 
#tstamp = pd.Timestamp(dt.datetime(1970, 1, 1, 0, 0, 0, 1))
print("Timestamp:", tstamp.value)

# when creating a timestamp the format can be explicitly passed
ts = pd.to_datetime('2010/11/12', format='%Y/%m/%d')
print("Time:", ts, ", timestamp:", ts.value, ", type:", type(ts))

ts = pd.to_datetime('12-11-2010 10:39', format='%d-%m-%Y %H:%M')
print("Time:", ts, ", timestamp:", ts.value, ", type:", type(ts))

Timestamp: 1599835500000000000
Time: 2010-11-12 00:00:00 , timestamp: 1289520000000000000 , type: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
Time: 2010-11-12 10:39:00 , timestamp: 1289558340000000000 , type: <class 'pandas._libs.tslibs.timestamps.Timestamp'>

A standard series can be created, and (a range of) elements can be used as indices:

In [13]:
print("index:\n", days, '\n')
#i can specify a time range on which select the entries
tseries = pd.Series(np.arange(len(days)), index=days)
print("time series:\n", days, '\n')
# Extracting elements
print("slice by position:\n", tseries[0:4], '\n')
print("slice by date range:\n", tseries['2020-9-11' : '2020-9-14'], '\n') # note that includes end time

index:
 DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')

time series:
 DatetimeIndex(['2020-09-11 14:45:00', '2020-09-12 14:45:00',
               '2020-09-13 14:45:00', '2020-09-14 14:45:00',
               '2020-09-15 14:45:00', '2020-09-16 14:45:00',
               '2020-09-17 14:45:00'],
              dtype='datetime64[ns]', freq='D')

slice by position:
 2020-09-11 14:45:00    0
2020-09-12 14:45:00    1
2020-09-13 14:45:00    2
2020-09-14 14:45:00    3
Freq: D, dtype: int64

slice by date range:
 2020-09-11 14:45:00    0
2020-09-12 14:45:00    1
2020-09-13 14:45:00    2
2020-09-14 14:45:00    3
Freq: D, dtype: int64

`pd.to_datetime` can also be used to create a `DatetimeIndex` if the argument is a list:

In [ ]:
print(pd.to_datetime([1, 2, 3, 4], unit='D', origin=pd.Timestamp('1980-02-03')))

## DataFrame

A pandas DataFrame can be thought as a tabular spreadsheet, although the performance, the functionalities and the capabilities are very different.

Similarly to Series, the DataFrame structure also contains labeled axes (rows and columns). Arithmetic operations **align on both row and column labels**. Each column in a DataFrame is a Series object: as a matter of fact, a DataFrame can be thought of as a dict-like container for Series objects.

The elements can be of all types, and missing data could be present too (represented as NaN).

For future reference (or for people already familiar with R), a pandas DataFrame is also similar to the R DataFrame.

Link to the official [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html).

### DataFrame constructor

A DataFrame objects can be created by passing a dictionary of objects. Note that the dictionary values are not omogeneous and do not have the same length. In these cases, pandas will automatically adjust the sizes, by replicating the content or adding NaN if necessary.

In [16]:
#operations performed according to rows and coloumns
#multiple constraction

#I pass as a input a dictionary
#keys are the coloumns (label of them) and the values are the content of each coloumn which compose the data frame
#pandas replicates the number of row and coloumns. SENTIRE  
df = pd.DataFrame({
    'A' : 1.,
    'B' : pd.Timestamp('20130102'),
    'C' : pd.Series(3, index=range(4), dtype='float32'),
    'D' : np.arange(7, 11),
    'E' : pd.Categorical(["test", "train", "test", "train"]),
})
df
#I can print with the usual method print

     A          B    C   D      E
0  1.0 2013-01-02  3.0   7   test
1  1.0 2013-01-02  3.0   8  train
2  1.0 2013-01-02  3.0   9   test
3  1.0 2013-01-02  3.0  10  train

An example of DataFrame with a DatatimeIndex object as index:

In [17]:
entries = 10
columns = ['A', 'B', 'C', 'D']
#I can use data_range as index of rows
dates = pd.date_range('11/9/2020 14:45:00', freq='h', periods=entries) # days/month/year
df = pd.DataFrame(np.arange(entries*4).reshape(entries, len(columns)), index=dates, columns=columns)
df # pay attention that the date is printed as year-day-month

                      A   B   C   D
2020-11-09 14:45:00   0   1   2   3
2020-11-09 15:45:00   4   5   6   7
2020-11-09 16:45:00   8   9  10  11
2020-11-09 17:45:00  12  13  14  15
2020-11-09 18:45:00  16  17  18  19
2020-11-09 19:45:00  20  21  22  23
2020-11-09 20:45:00  24  25  26  27
2020-11-09 21:45:00  28  29  30  31
2020-11-09 22:45:00  32  33  34  35
2020-11-09 23:45:00  36  37  38  39

### Viewing Data

In [18]:
df.head()
#prints the first rows of data-frame

                      A   B   C   D
2020-11-09 14:45:00   0   1   2   3
2020-11-09 15:45:00   4   5   6   7
2020-11-09 16:45:00   8   9  10  11
2020-11-09 17:45:00  12  13  14  15
2020-11-09 18:45:00  16  17  18  19

In [19]:
df.tail(4)

#prints from the last rows

                      A   B   C   D
2020-11-09 20:45:00  24  25  26  27
2020-11-09 21:45:00  28  29  30  31
2020-11-09 22:45:00  32  33  34  35
2020-11-09 23:45:00  36  37  38  39

In [20]:
df.index
#getting the indecis of the rows

DatetimeIndex(['2020-11-09 14:45:00', '2020-11-09 15:45:00',
               '2020-11-09 16:45:00', '2020-11-09 17:45:00',
               '2020-11-09 18:45:00', '2020-11-09 19:45:00',
               '2020-11-09 20:45:00', '2020-11-09 21:45:00',
               '2020-11-09 22:45:00', '2020-11-09 23:45:00'],
              dtype='datetime64[ns]', freq='H')

In [23]:
df.columns
#getting indecis of coloumns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
df.values
#access content of df -> returns a 2-dim np array

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23],
       [24, 25, 26, 27],
       [28, 29, 30, 31],
       [32, 33, 34, 35],
       [36, 37, 38, 39]])

In [22]:
df.describe()
#basic statistics

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   18.000000  19.000000  20.000000  21.000000
std    12.110601  12.110601  12.110601  12.110601
min     0.000000   1.000000   2.000000   3.000000
25%     9.000000  10.000000  11.000000  12.000000
50%    18.000000  19.000000  20.000000  21.000000
75%    27.000000  28.000000  29.000000  30.000000
max    36.000000  37.000000  38.000000  39.000000

In [24]:
df.T
#transpose to swap rows-coloumns

,2020-11-09 14:45:00,2020-11-09 15:45:00,2020-11-09 16:45:00,2020-11-09 17:45:00,2020-11-09 18:45:00,2020-11-09 19:45:00,2020-11-09 20:45:00,2020-11-09 21:45:00,2020-11-09 22:45:00,2020-11-09 23:45:00
A,0,4,8,12,16,20,24,28,32,36
B,1,5,9,13,17,21,25,29,33,37
C,2,6,10,14,18,22,26,30,34,38
D,3,7,11,15,19,23,27,31,35,39

In [25]:
df.sort_index(axis=1, ascending=False)
#SENIRE

                      D   C   B   A
2020-11-09 14:45:00   3   2   1   0
2020-11-09 15:45:00   7   6   5   4
2020-11-09 16:45:00  11  10   9   8
2020-11-09 17:45:00  15  14  13  12
2020-11-09 18:45:00  19  18  17  16
2020-11-09 19:45:00  23  22  21  20
2020-11-09 20:45:00  27  26  25  24
2020-11-09 21:45:00  31  30  29  28
2020-11-09 22:45:00  35  34  33  32
2020-11-09 23:45:00  39  38  37  36

In [26]:
df.sort_values(by="C", ascending=False)
#I CAN sort by content of a coloumn and inverting the order??

                      A   B   C   D
2020-11-09 23:45:00  36  37  38  39
2020-11-09 22:45:00  32  33  34  35
2020-11-09 21:45:00  28  29  30  31
2020-11-09 20:45:00  24  25  26  27
2020-11-09 19:45:00  20  21  22  23
2020-11-09 18:45:00  16  17  18  19
2020-11-09 17:45:00  12  13  14  15
2020-11-09 16:45:00   8   9  10  11
2020-11-09 15:45:00   4   5   6   7
2020-11-09 14:45:00   0   1   2   3

## Selection

### Slicing

DataFrame slicing allows to select a subset of the DataFrame, or an entire column (a Series):

In [27]:
## standard and safe
# sintex is same as series SENTIRE
print(df['A'], '\n', type(df['A']), '\n') # Returns a Series (a column)

## equivalent but dangerous because I may have overlap (imagine blank spaces in the name of the column, or a column named "T")
print(df.A, '\n')

2020-11-09 14:45:00     0
2020-11-09 15:45:00     4
2020-11-09 16:45:00     8
2020-11-09 17:45:00    12
2020-11-09 18:45:00    16
2020-11-09 19:45:00    20
2020-11-09 20:45:00    24
2020-11-09 21:45:00    28
2020-11-09 22:45:00    32
2020-11-09 23:45:00    36
Freq: H, Name: A, dtype: int64
 <class 'pandas.core.series.Series'>

2020-11-09 14:45:00     0
2020-11-09 15:45:00     4
2020-11-09 16:45:00     8
2020-11-09 17:45:00    12
2020-11-09 18:45:00    16
2020-11-09 19:45:00    20
2020-11-09 20:45:00    24
2020-11-09 21:45:00    28
2020-11-09 22:45:00    32
2020-11-09 23:45:00    36
Freq: H, Name: A, dtype: int64

In [28]:
# selecting rows by position or a range of rows. Returns another DataFrame (a copy)
print(df[0:3])

# or by index range of time series
print(df["2020-11-09 14:45:00" : "2020-11-09 16:45:00"])

                     A  B   C   D
2020-11-09 14:45:00  0  1   2   3
2020-11-09 15:45:00  4  5   6   7
2020-11-09 16:45:00  8  9  10  11
                     A  B   C   D
2020-11-09 14:45:00  0  1   2   3
2020-11-09 15:45:00  4  5   6   7
2020-11-09 16:45:00  8  9  10  11

### Selection by label

The most common way to select elements, rows, or columns in a DataFrame is by using the `.loc[]` method. Supports multiple indecis. I have to specify the label 

`.loc` supports multi-indexing, and returns a **copy** of the DataFrame.

To select entire col or a range of rows. Convenient to assign by label.

In [29]:
# getting a part of the DataFrame (in this case, a row)) using a label. Returns a Series
dfs = df.loc[dates[0]]
#use first element as label to access the row
#loc only works for labels. 
print(dfs, '\n', type(dfs), '\n')

A    0
B    1
C    2
D    3
Name: 2020-11-09 14:45:00, dtype: int64
 <class 'pandas.core.series.Series'>

In [31]:
# selecting on a multi-axis by label separating the selector for row and col with , 
#this means I select all rows (:) and only two col (A,B)
dfa = df.loc[:, ['A','B']]
#return a copy of the original df -> may_share_memory returns false because they are two different obj
print("Are df and dfa the same object?", np.may_share_memory(df, dfa))
dfa

Are df and dfa the same object? False

                      A   B
2020-11-09 14:45:00   0   1
2020-11-09 15:45:00   4   5
2020-11-09 16:45:00   8   9
2020-11-09 17:45:00  12  13
2020-11-09 18:45:00  16  17
2020-11-09 19:45:00  20  21
2020-11-09 20:45:00  24  25
2020-11-09 21:45:00  28  29
2020-11-09 22:45:00  32  33
2020-11-09 23:45:00  36  37

In [32]:
# showing label slicing, both endpoints are included:
df.loc['2020-11-09 18:45:00':'2020-11-09 20:45:00', ['A','B']]

                      A   B
2020-11-09 18:45:00  16  17
2020-11-09 19:45:00  20  21
2020-11-09 20:45:00  24  25

In [33]:
# getting an individual element -> specify row and col element
print(df.loc[dates[1], 'A'], '\n', type(df.loc[dates[1], 'A']), '\n')

4
 <class 'numpy.int64'>

The `.at[]` method is equivalent to `.loc[]`. Use `at` if you only need to get or set a single value in a DataFrame or Series.

use only if I want to select a particular element, matter of style.

In [34]:
print(df.at[dates[1], 'A'])

4

### Selecting by position

`.iloc[]`(->I have to specify an index using to specify row o col I want to access) is similar ot `.loc[]`, but instead of labels, it uses pure integer-location based indexing for selection by position.

But differently from `.loc[]`, `.iloc[]` returns a **view**, not a copy.

Yes, views and copies are ambiguous in DataFrames. And it gets worse! This appears to be a long standing issue for pandas. Read a nice article on this topic [here](https://www.practicaldatascience.org/html/views_and_copies_in_pandas.html).

In [35]:
# select via the position of the passed integers:
print(df.iloc[3], '\n')

# row and column ranges selected with numpy-like notation:
dfv = df.iloc[3:5, 0:2] #Im selecting a subset of df
#returns a view not a copy of a series -> If I modify dfv I modify also the original because they share the same memory
print(dfv, '\n')

print("Are df and dfv the same object?", np.may_share_memory(df, dfv))

A    12
B    13
C    14
D    15
Name: 2020-11-09 17:45:00, dtype: int64

                      A   B
2020-11-09 17:45:00  12  13
2020-11-09 18:45:00  16  17

Are df and dfv the same object? True

In [ ]:
# selecting rows 1,2 and 4 for columns 0 and 2
df.iloc[[1, 2, 4], [0, 2]]

In [36]:
# slicing rows explicitly
df.iloc[1:3, :]

# slicing columns explicitly
df.iloc[:, 1:3]

                      B   C
2020-11-09 14:45:00   1   2
2020-11-09 15:45:00   5   6
2020-11-09 16:45:00   9  10
2020-11-09 17:45:00  13  14
2020-11-09 18:45:00  17  18
2020-11-09 19:45:00  21  22
2020-11-09 20:45:00  25  26
2020-11-09 21:45:00  29  30
2020-11-09 22:45:00  33  34
2020-11-09 23:45:00  37  38

Similary to `.loc[]` and `.at[]`, there is also `.iat[]` alongside `.iloc[]`:

If i want to select by position one element it's better to use iat[]

In [ ]:
# selecting an individual element by position: no difference between iloc and iat
print(df.iloc[1,1], ", type:", type(df.iloc[1,1]))
print(df.iat[1,1], ", type:", type(df.iat[1,1]))

### Masks

Boolean masks can be used in the same way as numpy, and they represent a very powerful way of filtering out data with certain features. Just like numpy fancy indexing, using a mask returns a **copy** of the DataFrame.

Returns copies of df!!

In [38]:
# Selecting on the basis of boolean conditions applied to the whole DataFrame
print(df>10) 
dfc = df[df > 10] #selecting elements larger than 10 SENTIRE
dfc.iat[0, 0] = -999 #try to assign this value to the df returned by obj SENTIRE

# a DataFrame with the same shape is returned, with NaN's where condition is not met
# Note that when a NaN is present in a column of integers, the column (Series) is casted to float
#NaN is something missing not something wrong
print("Are df and dfc the same object?", np.may_share_memory(df, dfc)) #-> returns true
dfc

                         A      B      C      D
2020-11-09 14:45:00  False  False  False  False
2020-11-09 15:45:00  False  False  False  False
2020-11-09 16:45:00  False  False  False   True
2020-11-09 17:45:00   True   True   True   True
2020-11-09 18:45:00   True   True   True   True
2020-11-09 19:45:00   True   True   True   True
2020-11-09 20:45:00   True   True   True   True
2020-11-09 21:45:00   True   True   True   True
2020-11-09 22:45:00   True   True   True   True
2020-11-09 23:45:00   True   True   True   True
Are df and dfc the same object? False

                         A     B     C     D
2020-11-09 14:45:00 -999.0   NaN   NaN   NaN
2020-11-09 15:45:00    NaN   NaN   NaN   NaN
2020-11-09 16:45:00    NaN   NaN   NaN  11.0
2020-11-09 17:45:00   12.0  13.0  14.0  15.0
2020-11-09 18:45:00   16.0  17.0  18.0  19.0
2020-11-09 19:45:00   20.0  21.0  22.0  23.0
2020-11-09 20:45:00   24.0  25.0  26.0  27.0
2020-11-09 21:45:00   28.0  29.0  30.0  31.0
2020-11-09 22:45:00   32.0  33.0  34.0  35.0
2020-11-09 23:45:00   36.0  37.0  38.0  39.0

In [39]:
# Filter by a boolean condition on the values of a single column
dfc[dfc['B'] < 20.]

                        A     B     C     D
2020-11-09 17:45:00  12.0  13.0  14.0  15.0
2020-11-09 18:45:00  16.0  17.0  18.0  19.0

### Regression of views and copies
Using pandas, difference between them not always logical -> ambiguities
Not trust to always pandas returns what I expect -> use views only to do very fast and little operations. It safer to do manually a copy
Views and copies are ambiguous in DataFrames. And it gets worse! This appears to be a long standing issue for pandas. Read a nice article on this topic [here](https://www.practicaldatascience.org/html/views_and_copies_in_pandas.html).

### Assignement

Assignment is typically performed after selection:

In [44]:
#SENTIRE L'INIZIO DEL BLOCCO 

# Make sure to copy the DataFrame if you plan to modify it, and you don't want to change the original object
dfa = df.copy()

# setting values by label (same as by position)
dfa.at[dates[0], 'A'] = -1

# setting and assigning a numpy array
#assigning entire coloumn D and all rows-> to D col I'm assign an np array with all 5 as elements
dfa.loc[:, 'D'] = np.array([5] * len(dfa))

# defining a new column
dfa['E'] = np.arange(len(dfa))*0.5

# defining a brend new column by means of a pd.Series: indexes must be the same!
dfa['E prime'] = pd.Series(np.arange(len(dfa))*2, index=dfa.index)

# using masks for assigment
#use the mask is convenient -> selecting all elements >30 and flip their sign
dfa[dfa >= 30] = -dfa 

dfa

                      A   B   C  D    E  E prime
2020-11-09 14:45:00  -1   1   2  5  0.0        0
2020-11-09 15:45:00   4   5   6  5  0.5        2
2020-11-09 16:45:00   8   9  10  5  1.0        4
2020-11-09 17:45:00  12  13  14  5  1.5        6
2020-11-09 18:45:00  16  17  18  5  2.0        8
2020-11-09 19:45:00  20  21  22  5  2.5       10
2020-11-09 20:45:00  24  25  26  5  3.0       12
2020-11-09 21:45:00  28  29 -30  5  3.5       14
2020-11-09 22:45:00 -32 -33 -34  5  4.0       16
2020-11-09 23:45:00 -36 -37 -38  5  4.5       18

### Application of a function

User-defined or standard functions can be applied on entire DataFrames or columns, with very short execution times:

In [46]:
#whatever function I want

def dcos(theta):
    theta = theta*(np.pi/180)
    return np.cos(theta)

#pass to apply() method the function -> function applayed to all elements 
#I create a new coloumn called cosine
dfa['cosine'] = dfa["E"].apply(dcos)
dfa

                      A   B   C  D    E  E prime    cosine
2020-11-09 14:45:00  -1   1   2  5  0.0        0  1.000000
2020-11-09 15:45:00   4   5   6  5  0.5        2  0.999962
2020-11-09 16:45:00   8   9  10  5  1.0        4  0.999848
2020-11-09 17:45:00  12  13  14  5  1.5        6  0.999657
2020-11-09 18:45:00  16  17  18  5  2.0        8  0.999391
2020-11-09 19:45:00  20  21  22  5  2.5       10  0.999048
2020-11-09 20:45:00  24  25  26  5  3.0       12  0.998630
2020-11-09 21:45:00  28  29 -30  5  3.5       14  0.998135
2020-11-09 22:45:00 -32 -33 -34  5  4.0       16  0.997564
2020-11-09 23:45:00 -36 -37 -38  5  4.5       18  0.996917

### Dropping

Dropping columns is an example of a method that does not modify the original object, and returns a new modified object. In other words, if you want to keep the modified DataFrame, perform a new assignment:

```python
df = df.drop(....)
```
Alternatively, the modification of the original object can be forced by specifying `inplace=True` among the arguments.

In [50]:
#pay attention of what methods create a copy and what a view

#SENTIRE
dfb = dfa.copy()

# Dropping by column if I do not need it any more
dfb.drop(['E prime'], axis=1)

#which is equivalent to
dfb = dfb.drop(columns=['E prime']) #E coloumn is still there
#dfb.drop(columns=['E prime'], inplace=True) #implace=True specified means that the original obj has been modified

dfb

                      A   B   C  D    E    cosine
2020-11-09 14:45:00  -1   1   2  5  0.0  1.000000
2020-11-09 15:45:00   4   5   6  5  0.5  0.999962
2020-11-09 16:45:00   8   9  10  5  1.0  0.999848
2020-11-09 17:45:00  12  13  14  5  1.5  0.999657
2020-11-09 18:45:00  16  17  18  5  2.0  0.999391
2020-11-09 19:45:00  20  21  22  5  2.5  0.999048
2020-11-09 20:45:00  24  25  26  5  3.0  0.998630
2020-11-09 21:45:00  28  29 -30  5  3.5  0.998135
2020-11-09 22:45:00 -32 -33 -34  5  4.0  0.997564
2020-11-09 23:45:00 -36 -37 -38  5  4.5  0.996917

## Missing data

Pandas primarily uses the value `np.nan` to represent missing data. It is by default not included in computations. If there is a NaN entry in a Series of integers, the type of the Series will be changed to floats.

In [51]:
df_wNan = dfb[dfb > 0] #selecting all positive entries -> al posto delle negative c' NaN
df_wNan

                        A     B     C  D    E    cosine
2020-11-09 14:45:00   NaN   1.0   2.0  5  NaN  1.000000
2020-11-09 15:45:00   4.0   5.0   6.0  5  0.5  0.999962
2020-11-09 16:45:00   8.0   9.0  10.0  5  1.0  0.999848
2020-11-09 17:45:00  12.0  13.0  14.0  5  1.5  0.999657
2020-11-09 18:45:00  16.0  17.0  18.0  5  2.0  0.999391
2020-11-09 19:45:00  20.0  21.0  22.0  5  2.5  0.999048
2020-11-09 20:45:00  24.0  25.0  26.0  5  3.0  0.998630
2020-11-09 21:45:00  28.0  29.0   NaN  5  3.5  0.998135
2020-11-09 22:45:00   NaN   NaN   NaN  5  4.0  0.997564
2020-11-09 23:45:00   NaN   NaN   NaN  5  4.5  0.996917

In [52]:
# dropping rows with at least a Nan -> dropna() method specifing the critera.
#In this case I drop any rows with a least a NaN elemnt
df_wNan.dropna(how='any')

                        A     B     C  D    E    cosine
2020-11-09 15:45:00   4.0   5.0   6.0  5  0.5  0.999962
2020-11-09 16:45:00   8.0   9.0  10.0  5  1.0  0.999848
2020-11-09 17:45:00  12.0  13.0  14.0  5  1.5  0.999657
2020-11-09 18:45:00  16.0  17.0  18.0  5  2.0  0.999391
2020-11-09 19:45:00  20.0  21.0  22.0  5  2.5  0.999048
2020-11-09 20:45:00  24.0  25.0  26.0  5  3.0  0.998630

In [54]:
# getting a mask
df_wNan.isna() #isna() mathod of df -> returns a df of masks in which there is true where there is a NaN element
#df_wNan.notna()

                         A      B      C     D      E  cosine
2020-11-09 14:45:00  False   True   True  True  False    True
2020-11-09 15:45:00   True   True   True  True   True    True
2020-11-09 16:45:00   True   True   True  True   True    True
2020-11-09 17:45:00   True   True   True  True   True    True
2020-11-09 18:45:00   True   True   True  True   True    True
2020-11-09 19:45:00   True   True   True  True   True    True
2020-11-09 20:45:00   True   True   True  True   True    True
2020-11-09 21:45:00   True   True  False  True   True    True
2020-11-09 22:45:00  False  False  False  True   True    True
2020-11-09 23:45:00  False  False  False  True   True    True

In [ ]:
# filling missing data (not recommended, unless you really mean it)
#keep NaN is the best way to keep record where I have empty elements in my df
df_wNan.fillna(value=0)

## Operations

Operations on the elements of a DataFrame are quite straightforward, as the syntax is the same as the one used for Series. Also for DataFrames, operations are performed between elements that share the same labels. Operations on columns are extremly fast, almost as fast as the actual operation between elements in a row.

In [55]:
# Some statistics (mean() just as an example)
#I can do operations with different shaped series -> pandas aggiusta automaticam il numero e fa le operazioni elemento per elemento.
# on rows
print(df.mean(axis=0), '\n') #-> returns a 1-dim reduction of the output
# on columns
print(df.mean(axis=1), '\n')

A    18.0
B    19.0
C    20.0
D    21.0
dtype: float64

2020-11-09 14:45:00     1.5
2020-11-09 15:45:00     5.5
2020-11-09 16:45:00     9.5
2020-11-09 17:45:00    13.5
2020-11-09 18:45:00    17.5
2020-11-09 19:45:00    21.5
2020-11-09 20:45:00    25.5
2020-11-09 21:45:00    29.5
2020-11-09 22:45:00    33.5
2020-11-09 23:45:00    37.5
Freq: H, dtype: float64

In [56]:
# global operations on columns
df.apply(np.sum) # or whatever function defined by the user

A    180
B    190
C    200
D    210
dtype: int64

In [57]:
# Also lambda functions
df.apply(lambda x: x.max() - x.min())

A    36
B    36
C    36
D    36
dtype: int64

In [58]:
# syntax is as usual similar to that of numpy arrays
df['S'] = df['A'] + df['C'] #adding two coloumns selected as series. sum is performed along the rows
df

                      A   B   C   D   S
2020-11-09 14:45:00   0   1   2   3   2
2020-11-09 15:45:00   4   5   6   7  10
2020-11-09 16:45:00   8   9  10  11  18
2020-11-09 17:45:00  12  13  14  15  26
2020-11-09 18:45:00  16  17  18  19  34
2020-11-09 19:45:00  20  21  22  23  42
2020-11-09 20:45:00  24  25  26  27  50
2020-11-09 21:45:00  28  29  30  31  58
2020-11-09 22:45:00  32  33  34  35  66
2020-11-09 23:45:00  36  37  38  39  74

## Merge

Pandas provides various functions for easily combining together Series and DataFrames in join / merge-type operations.

### Concat

concatenation (adding rows) is straightforward:

In [59]:
rdf = pd.DataFrame(np.arange(40).reshape(10, 4))
rdf

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23
6  24  25  26  27
7  28  29  30  31
8  32  33  34  35
9  36  37  38  39

In [60]:
# split DataFrame into 3 pieces, row-wise
pieces = [rdf[:3], rdf[3:7], rdf[7:]]
#indecis for both rows and col remain the same
pieces

[   0  1   2   3
 0  0  1   2   3
 1  4  5   6   7
 2  8  9  10  11,
     0   1   2   3
 3  12  13  14  15
 4  16  17  18  19
 5  20  21  22  23
 6  24  25  26  27,
     0   1   2   3
 7  28  29  30  31
 8  32  33  34  35
 9  36  37  38  39]

In [63]:
# put it back together -> concat() method
pd.concat(pieces)

# in this case, indices are already set; if they are not, indices can be ignored -> reassign new indecis to concatenate df
#pd.concat(pieces, ignore_index=True)

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
5  20  21  22  23
6  24  25  26  27
7  28  29  30  31
8  32  33  34  35
9  36  37  38  39

In case of dimension mismatch, Nan are added where needed.

Appending rows and columns also works:

In [ ]:
# appending a single row (as a Series)
s = rdf.iloc[3]
rdf = rdf.append(s, ignore_index=True) # remember to assign the returned object, or use inplace=True
rdf

### Merge/Join

SQL like operations on table can be performed on DataFrames. This is a quite advanced use case, refer to the [doc](https://pandas.pydata.org/pandas-docs/stable/merging.html#merging) for more info/examples.

In [64]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

pd.merge(left, right, on="key")

   key  lval  rval
0  foo     1     4
1  bar     2     5

## Grouping

In real world applications, it's quite common that several entries (row) belong to a certain entity, or "group". DataFrames have a powerful tool to perform operations on entries of the same group. The method is called `.groupby()`, and it usually involves one or more of the following steps:

* Splitting the data into groups based on some criteria
* Applying a function to each group independently
* Combining the results into a data structure

SENTIRE
It can happen that rows are not 100% uncorrelated 

group subset of data frame and group them -> 3 steps

In [65]:
#splitting data in groups according to a logic
gdf = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.arange(8),
                    'D' : np.linspace(10, -10, 8)})
gdf

     A      B  C          D
0  foo    one  0  10.000000
1  bar    one  1   7.142857
2  foo    two  2   4.285714
3  bar  three  3   1.428571
4  foo    two  4  -1.428571
5  bar    two  5  -4.285714
6  foo    one  6  -7.142857
7  foo  three  7 -10.000000

In [66]:
# Grouping and then applying the sum() 
# function to the resulting groups (effective only where numerical values are present)
#A is the coloumn where I wanto to perform 

#SENTIRE
gdf.groupby('A').sum()

      C         D
A
bar   9  4.285714
foo  19 -4.285714

In [67]:
# Example: find maximum value in column D for each group, and assign the value to a new column
gdf['M'] = gdf.groupby('A')['D'].transform(np.max)
gdf

     A      B  C          D          M
0  foo    one  0  10.000000  10.000000
1  bar    one  1   7.142857   7.142857
2  foo    two  2   4.285714  10.000000
3  bar  three  3   1.428571   7.142857
4  foo    two  4  -1.428571  10.000000
5  bar    two  5  -4.285714   7.142857
6  foo    one  6  -7.142857  10.000000
7  foo  three  7 -10.000000  10.000000

## Multi-indexing

Hierarchical / Multi-level indexing allows sophisticated data analysis on higher dimensional data. In practice, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like Series (1D) and DataFrames (2D).

In [ ]:
# Creat multi-dimensional index
tuples = list(zip(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']))
multi_index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
print(multi_index, '\n', type(multi_index), '\n')

# Create multi-indexed dataframe or series
s = pd.Series(np.arange(8)/np.pi, index=multi_index)
s

In [ ]:
# multi-indexing enables further features of the groupby method,
# e.g. when group-by by multiple columns
gdf.groupby(['A','B']).sum()

## Summary: a demonstration of the efficiency of the DataFrame

Let's go the hard way and load in memory a (relatively) large dataset

In [73]:
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ./Notes/

file_name = "./Notes/data_000637.txt"
data = pd.read_csv(file_name)
data

/bin/bash: wget: command not found

FileNotFoundError: [Errno 2] File ./Notes/data_000637.txt does not exist: './Notes/data_000637.txt'

Let's now do some operations among (elements of) columns

In [ ]:
itime = dt.datetime.now()
print("Begin time:", itime)

# the one-liner command
data['TIMENS'] = data['TDC_MEAS'] * 25 / 30 + data['BX_COUNTER'] * 25

ftime = dt.datetime.now()
print("End time:", ftime)
print("Elapsed time:", ftime - itime)

data

In [ ]:
# the loop
def conversion(data):
    result = []
    for i in range(len(data)): 
        result.append(data.loc[data.index[i], 'TDC_MEAS'] * 25 / 30. + data.loc[data.index[i], 'BX_COUNTER'] * 25)
    return result

itime = dt.datetime.now()
print("Begin time:", itime)
data['TIMENS'] = conversion(data)
ftime = dt.datetime.now()
print("End time:", ftime)
print("Elapsed time:", ftime - itime)

data